<div class="container">
  <mat-form-field appearance="fill" class="item">
    <mat-label>Tipo de busqueda</mat-label>
    <mat-select #option (selectionChange)="selectChanged(option.value)">
      <mat-option value="1">Cliente</mat-option>
      <mat-option value="2">Fecha</mat-option>
    </mat-select>
  </mat-form-field>

  <mat-form-field class="item">
    <mat-label>Busqueda</mat-label>
    <input matInput type="{{tipo}}" placeholder="{{placeholder}}">
  </mat-form-field>

  <button class="item" color="primary" mat-raised-button>Aceptar</button>

  <!-- <table mat-table [dataSource]="citas" class="mat-elevation-z8">

    <ng-container matColumnDef="fecha_cita">
      <th mat-header-cell *matHeaderCellDef> Fecha </th>
      <td mat-cell *matCellDef="let cita"> {{cita.fecha_cita}} </td>
    </ng-container>

    <ng-container matColumnDef="id_cliente">
      <th mat-header-cell *matHeaderCellDef> Cliente </th>
      <td mat-cell *matCellDef="let cita"> {{cita.id_cliente}} </td>
    </ng-container>

    <tr mat-header-row *matHeaderRowDef="'fecha_cita'"></tr> -->
    <!-- <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table> -->

  <!-- <label for="busqueda">Tipo de busqueda</label>
  <select id="busqueda" #option1  (change)="selectChanged(option1.value)">
    <option value="1">Cliente</option>
    <option value="2">Fecha</option>
  </select> -->

  <!-- <input type="{{tipo}}"> -->

  <div class="cita" *ngFor="let cita of citas">
    <a class="citas" [routerLink]="['/cita', cita.id]">{{cita.fecha_cita}} - {{cita.id_cliente}}</a>
  </div>
</div>
